#game_item {
    -fx-padding: 10px;
    -fx-text-fill: black;
}

#game_item Label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#game_item Label.game_description {
    -fx-font-size: 12px;
    -fx-text-fill: darkgrey;
}
#game_image{
    -fx-padding: 10px 0 10px 0;
}

.game_item_button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}


#top_label {
    -fx-padding: 20;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: black;
    -fx-background-color: rgb(255, 255, 255);
    -fx-effect: dropshadow(gaussian, gray, 5, 0.0, 0, 2); 
}


#bottom_shadow {
    -fx-pref-height: 2px;
    -fx-background-color: black;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0, 0, 5);
}

#top_mid Label {
    -fx-font-size: 32;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 30;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

#top_left {
    -fx-alignment: center-left;
    -fx-pref-width: 150px;
    -fx-width: auto;
    -fx-flex-grow: 0;
}

#top_mid {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 5px 0;
    -fx-alignment: center;
    -fx-flex-grow: 1;
}

#top_right {
    -fx-alignment: center-right;
    -fx-padding: 5px 10px;
    -fx-pref-width: 220px;
}

#top_right TextField {
    -fx-pref-width: 150;
    -fx-alignment: center-left;
}

#top_right Button {
    -fx-spacing: 10;
}

#top_label {
    -fx-padding: 20;
    -fx-margin-top: 50;
}
#dropdown_menu {
    -fx-background-color: #c75656;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: transparent;
    -fx-alignment: center;
    -fx-pref-width: 100px;
    -fx-pref-height: 30px;
    -fx-alignment: center-left;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 2, 0, 0, 1);
    -fx-border-color: transparent;
}


#dropdown_menu .arrow {
    -fx-background-color: #c75656;
    -fx-shape: "M0,0 L5,5 L10,0";
    -fx-fill: white;
    -fx-border-radius: 50%;
    -fx-margin-right:10px;
}


#dropdown_menu .arrow-button {
    -fx-background-color: white;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-color: #c75656;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 2, 0, 0, 1);
    -fx-border-color: transparent;
}

.add_json_button {
    -fx-background-color: #b8a908;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 2, 0, 0, 1);
    -fx-border-color: transparent;
}

.add_json_button:hover {
    -fx-background-color: #9b8916;

}


#addManuelBtn {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 2, 0, 0, 1);
    -fx-border-color: transparent;
}

#addManuelBtn:hover {
    -fx-background-color: #45A049;

}
#filterTagsButton {
    -fx-background-color: #2e19b3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 2, 0, 0, 1);
    -fx-border-color: transparent;
}

#filterTagsButton:hover {
    -fx-background-color: #051d4f;

}




#dropdown_menu .arrow-button:hover {
    -fx-border-color: #c73939;
}

#dropdown_menu:hover {
    -fx-background-color: #c73939;
    -fx-border-color: #c73939;
}
.game_item:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0, 0);
    -fx-cursor: hand;
}


#mode_toggle {
    -fx-background-color: #444;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-background-radius: 50%;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 1);
    -fx-border-color: transparent;
    -fx-transition: background-color 0.3s ease;
}

#mode_toggle:hover {
    -fx-background-color: #666;
}
